#chat_container {
        position:relative;
    }

    /* A CIRCLE LIKE BUTTON IN THE TOP MENU. */
    #chat_button {
   /*     width:22px;
        height:22px;
        line-height:22px; */
 /*       border-radius:50%;
        -moz-border-radius:50%; 
        -webkit-border-radius:50%;
        background:#FFF; */
        margin:5px 0px 5px 10px;
        cursor:pointer;
    }

    /* THE POPULAR RED NOTIFICATIONS COUNTER. */
    #chat_counter {
        display:block;
        position:absolute;
        background:#E1141E;
        color:#FFF;
        font-size:12px;
        font-weight:normal;
        padding:1px 3px;
        margin: 0px 0 5px 10px;
        border-radius:2px;
        -moz-border-radius:2px;
        -webkit-border-radius:2px;
        z-index:1;
    }

    /* THE NOTIFICAIONS WINDOW. THIS REMAINS HIDDEN WHEN THE PAGE LOADS. */
    #chats {
        display:none;
        width:400px;
        position:absolute;
        top:30px;
        left:-309px; 
        background:#FFF; 
        border:solid 1px rgba(100, 100, 100, .20);
        -webkit-box-shadow:0 3px 8px rgba(0, 0, 0, .20);
        z-index: 10;
    }

	#messages_chat {
		overflow: hidden;	
	}

	#messages_chat:hover {
		overflow-y: auto;
	}

    /* AN ARROW LIKE STRUCTURE JUST OVER THE NOTIFICATIONS WINDOW */
    #chats:before {
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #CCC;
        border-color:transparent transparent #FFF;
        margin-top:-18px;
        margin-left:307px;
    }

    h5.chat  {
        display:block;
        color:#333;
        background:#FFF;
        font-weight:bold;
        font-size:13px;
        padding:8px;
        margin:0;
        border-bottom:solid 1px rgba(100, 100, 100, .30);
    }

	.messaggio_chat {
        overflow: auto;
		display: block;
		min-height:65px;
        background:#FFFFFF;
        font-size:13px;
        padding:5px; 
        border-bottom:solid 1px rgba(100, 100, 100, .30);
	}

	.messaggio_chat:hover {
        background:#f2f2f2;
		margin:0;
	}

	.msg_chat_thumb {
		float:left; 
		width:50px; 
		height:50px;
		margin:3px;
		margin-right:10px;
	/*  background:#ffce54; */
		background:#ffffff;
		color:#ffffff; 
		font-size:32px; 
		text-align:center;
		vertical-align:middle;
	}

	.msg_chat_testo {
		padding:2px;
	}

	.msg_chat_data {
		margin-top:3px;
		padding:2px;
        padding-top: 5px;
		font-size:12px;
		color:#cccccc;
	}

    .seeAll {
        background:#F6F7F8;
        padding:8px;
        font-size:12px;
        font-weight:bold;
        border-top:solid 1px rgba(100, 100, 100, .30);
        text-align:center;
    }
    .seeAll a {
        color:#3b5998;
    }
    .seeAll a:hover {
        background:#F6F7F8;
        color:#3b5998;
        text-decoration:underline;
    }

