@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

html,body,.col-md-12,.row {
  height:100%;
/*	overflow-y:visible; */
	padding-left:8px;
	padding-right:8px;
	font-family: 'Open Sans', sans-serif;
    font-size: 13px;	
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        padding:0px;
        outline: 0!important;
        border:none!important;    
    }
    .navbar-toggle:hover,
    .navbar-toggle:active,
    .navbar-toggle:focus {
        background:none!important;
        border:none!important;
        outline: 0!important;
        padding:0px;
    }
    .navbar-collapse {
        border-top: 0px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); 
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }
}

.row > div {
  height:92%;
}

th {
    background:#5bc0de !important; 
    color:#fff;
}

.btn{
    white-space:normal !important;
    word-wrap:break-word; 
}

.huge {
  font-size: 40px;
}

/* to make columns visible */
.row .col-left {
  background-color:#dedede;
  border-radius: 5px;
  height:100%;
}

.row .col-right {
  background-color:#dedede;
  border-radius: 5px;
  height:100%;
}

.row .col-main {
  /* background-color:#ddd; */
  border-radius: 5px;
  height:100%;
  padding:0;
  padding-right:16px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.sospeso {
/*	color: #999999; */
	font-style: italic;
}

.scaduto {
    color: #999999;
}

.input-error {
	background: #ffffa0 !important ;
	color:red !important;
}

/* Login cassa */
.login-block-opt {
		left: 45%;
        margin-left: -215px;
        margin-top: -170px;
        position: absolute;
        top: 45%;
        width: 600px;
    background: #fff;
    border-radius: 5px;
/*    border-top: 5px solid #ff656c; */
}

.login-block-opt h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}


/* Login cassa */
.login-block {
		left: 50%;
        margin-left: -215px;
        margin-top: -170px;
        position: absolute;
        top: 45%;
        width: 430px;
    background: #fff;
    border-radius: 5px;
/*    border-top: 5px solid #ff656c; */
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.login-block input#username {
    background: #fff url('../images/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background: #fff url('../images/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('../images/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('../images/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}

.login-block button {
    width: 100%;
    height: 40px;
    background: #c0392b;
    box-sizing: border-box;
    border-radius: 5px;
  /*  border: 1px solid #e15960; */
    color: #fff;
    font-weight: bold;
/*    text-transform: uppercase; */
    font-size: 14px;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}


/******
 * Highlight righe sul mouse hover e riga selezionata attiva
 */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #eeeeee;
}

.table-striped tbody tr.highlight td {
    background-color: #c0392b;
    color: #FFFFFF;
}

.table-striped tbody tr.highlight_f td {
    background-color: #F6BB42;
    color: #FFFFFF;
}

/**************
 * Navbar e Submenu
 */
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   	top:0;left:100%;
   	margin-top:-6px;
	margin-left:-1px;
   	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
	background-color: #dedede;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#fff;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  	color: #ffbbbc;
	background-color:#c0392b;
}  

.navbar-default {
  background-color: #dedede;
  border-color: #c0392b;
  font-size: 14px;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #dedede;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:5px !important; padding-bottom:0 !important;
    height: 30px;
}
.navbar {min-height:30px !important;}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus, 
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-submenu > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}

 
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  

/* Scrollbars */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  background: #dddddd;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
::-webkit-scrollbar-thumb:active {
  background: #cccccc;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #eeeeee;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/**
 *
 * DON'T DELETE THIS PART!
 *
 */
.btn-circle-sm {
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 6px 0;
  font-size: 10px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 90px;
  height: 90px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 50px;
}

.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
